@import "tailwindcss";

:root {
  background-color: #00002b;
}

.ubuntu-300 {
  font-family: "Ubuntu", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-500 {
  font-family: "Ubuntu", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-800 {
  font-family: "Ubuntu", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
